@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

#leftSVG {
  bottom: -10%;
  right: -6%;
  width: 50%;
  position: fixed;
  z-index: -1;
}

.container {
  z-index: 1;
  width: 100%;
  height: 100vh;
  /* background-color: #fff; */
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  position: relative
}

.navbar {
  height: 6%;
  display: flex;
  align-items: center;
}

.col img {
  width: 30%;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
}

.col {
  /* flex-basis: 50%; */
}

.col h1 {
  color: black;
  font-size: 100px;
  font-weight: bolder;
}

.col h2 {
  color: black;
}

p {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
  padding: 12px 0;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 6px solid #FFD217;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  color: black;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  cursor: pointer;
}

button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FFD217;
  z-index: -1;
}

button:hover,
button:focus {
  color: black;
}

button:hover:before,
button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

button:active {
  transform: scale(0.9);
}

.col2 {
  width: 100%;
  height: 100vh;
  display: flex;
  /* background-color: pink; */
  overflow: hidden;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 15rem;
  height: 12rem;
  margin: 2rem;
  perspective: 1000px;
  text-align: center;
  line-height: 12rem;
  background-color: #5c4a88;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card h2 {
  color: white;
}

.card:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #eb7494;
  z-index: -1;
}

.card:hover:before,
.card:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 10px;
  cursor: pointer;
}

.card:active {
  transform: scale(0.9);
}